@import url(https://fonts.google.com/);
.
{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
    text-decoration:none ;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
    overflow: auto;
   
}

:root
{
    --bg-color:#000000;
    --second-bg-color:#341900;
    --text-color:#fff;
    --main-color: #EEc29E;
    --third-bg-color:linear-gradient(45deg,#A16235,#EEc29E,#fff);
    overflow: auto;
}
html
{
    font-size: 62.5%;
    overflow: hidden;
}
body
{
   background-color: var(--bg-color);
   color: var(--text-color);
}
section
{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100%;
}
.header.sticky
{
    border-bottom:.1rem solid rgba(0,0,0,.2) ;

}
.logo
{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar a
{
    display: inline-block;
    font-size:2.5rem ;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s; ;
}
.navbar a:hover
{
    color:var(--main-color);
}
.navbar a.active ,.navbar a:hover
{
    background: linear-gradient(45deg,#A16235,#EEc29E,#fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#menu-icon
{
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}
.home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.home-contant h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

.circular--portrait
 {
    position: relative;
    width: 500px; 
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 30px 10px #EEc29E;
    margin-left: 200px;
    margin-top: -100px;
}
.circular--portrait img 
 {
    width: 100%;
    height: auto; 
    
}
#h3
{
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: -100px;
}
#h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height:1.3 ;
    padding: 1pxS;
}
#h2
{
    font-size: 3.2rem;
    font-weight: 700;
    padding-top: 1px;
}
span
{
    color: var(--main-color);
}
#p
{
    font-size: 1.6rem;
    font-weight: 700;
}
.social-media a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border:.2rem solid var(--main-color) ;
    border-radius: 50%;
    text-decoration: none;
    font-size:2rem ;
    color: var(--main-color) ;
    margin: 2rem 1rem 2rem 0;
}
.btn
{
    display: inline-flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width:200px;
    height: 50px;
    background: var(--main-color) ;
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color) ;
    font-size: 2rem;
    text-decoration: none;
    color: var(--bg-color);
    letter-spacing:.1rem ;
    font-weight: 600;
    transition: .10s ease;
    z-index: 1;
    align-items: center;
    text-align: center;
    
}
.btn::target-text
{
    align-items: center;
    text-align: center;
   
}
.btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    inset: 0;
    background:  linear-gradient(45deg,#A16235,#EEc29E,#A16235);
    z-index: -1;
    justify-content: center;
    border-radius: 4rem;
    background-size: 200%;
}
.btn::after
{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    inset: 0;
    background:  linear-gradient(45deg,#A16235,#EEc29E,#A16235);
    z-index: -1;
    justify-content: center;
    background-position: 0 0;
    border-radius: 4rem;
    background-size: 200%;
    transition: .5rem ease;
}
.btn:hover::after
{
    box-shadow: none;
    background-position: 100% 0;
}
#pic2
 {
    position: relative;
    width: 500px; 
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px#EEc29E;
    margin-top: 50px;
   
}
#pic2 img 
 {
     width: 100%;
     height: auto; 
    
}

.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    padding-top: 30px;
   
}
.about-img img
{
    width: 35w;
}
.heading
{
    
    font-size: 4.5rem;
}
.about-content h2
{
    
    line-height: 1.6rem;
}
.about-content h3
{
    font-size: 2.6rem;
    
}
.about-content p
{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.skill p
{
    font-size: 1.6rem;
}
.skill h2
{
    font-size: 2.6rem;
    color: #A16235;
    
}

.skill-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
.skill-container .skill-box
{
    flex: 1 1 30rem;
    background: var(--main-color);
    padding: 2rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.skill-box i
{
    font-size:10rem ;
    color: #A16235;
}
.skill-container .skill-box:hover
{
    border-color: var(--text-color);
    transform: scale(1.02);
}
.portfolio-box h1
{
    font-size: 50px;
    text-align: center;
}
.portfolio-box i
{
      justify-content: center;
    align-items: center;
    font-size:10rem ;
    color: #fff;
    text-align: center;
    align-content: center;
   padding-right: 100px;
   position: relative; /* Required for absolute positioning */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    
}

.contact h2
{
  margin-bottom: 2rem;
  text-align: center;
  margin-top:5px ;
}
.contact
{
    
    /*margin: 200px 200px;*/
    justify-content: center;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact form
{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 730px;

}
.contact form .input-box input,
.contact form textarea
{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact form .btn::target-text
{
 
    text-align: center;
    padding:30px;
    margin-bottom: 30px;

}
.contact form .input-box input
{
    width: 45%;
    
    
    
}
.contact form textarea
{
    resize: none;
}
/*BREAKPOINTS*/
@media (max-width: 1200px) 
{
    html 
    {
        font-size: 50%;
    }
}
@media (max-width: 991px) 
{
    .header
    {
      padding: 2rem 3%;
    }
    .section
    {
        padding: 10rem 3% 2rem;
    }
}
@media (max-width: 768px) 
{
   #menu-icon{
    display: block;
    position: absolute;
        top: 1rem;
        right: 0;
   }
   .navber
   {
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    padding: 1rem 2%;
    background: var(--bg-color);
    border-top:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    display: none;
    padding: 1rem 0; /* Adjust padding as needed */
    background: black; 
   }
   .navbar.active
   {
    display: block;
   }
   .navbar a
   {
    display: block;
    font-size: 2rem;
    margin: 2rem 0;
    padding: 1rem 0; /* Add vertical padding between items */
        color: white; /* Set text color to white */
        text-align: center; /* Center the text horizontally */
        width: 100%; /* Make each link take full width */
        box-sizing: border-box; /* Include padding in the width */
        text-decoration: none;
   }
}